{
  "discordClient": {
    "token": "token"
  },
  "api": {
    "twitch": {
      "twitchKey": "0",
      "twitchChannel": "funixgaming"
    }
  },
  "defaults": {
    "channelsId": {
      "bienvenue": "0",
      "log": "0",
      "twitch": "0",
      "youtube": "0"
    },
    "groupsId": {
      "Follower": "0",
      "Admin": "0"
    },
    "discordId": "161940168620638208",
    "prefix": "!",
    "timezoneConfig": 1
  }
}
